@import '@/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Potta+One&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

.weather-widget {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}